# Manipulação e Análise de Dados
pandas
numpy
openpyxl

# Visualização de Dados e Relatórios
matplotlib
seaborn
plotly

# Processamento e Engenharia de Dados (ETL)
sqlalchemy
psycopg2-binary
pyarrow

# Machine Learning e Estatística (M2/M3/M4)
scikit-learn
scipy
statsmodels
shap

# Utilitários e Ambiente
python-dotenv
jupyter